// 定义全局样式变量

// 主题色
$colors: (
  primary: #409eff,
  success: #67c23a,
  warning: #e6a23c,
  danger: #f56c6c,
  info: #909399
);

:root {
  @each $val, $color in $colors {
    // 生成主题色
    --msh-color-#{$val}: #{$color};
    // 生成不同亮度的颜色
    @for $i from 1 through 4 {
      --msh-color-#{$val}-light-#{2 * $i + 1}: #{mix(#fff, $color, ((2 * $i + 1) * 10 * 1%))};
    }
    // 特殊亮度
    --msh-color-#{$val}-light-8: #{mix(#fff, $color, (80 * 1%))}; // 80%白混亮度
    --msh-color-#{$val}-dark-2: #{mix(#000, $color, (20 * 1%))}; // 20%黑混亮度
  }

  // 接下来，还有一些其他的颜色变量
  // 对应的是 ElementUI 里面的中性色
  --msh-color-white: #fff;
  --msh-color-black: #000;
  --msh-bg-color: #ffffff;
  --msh-bg-color-page: #f2f3f5;
  --msh-bg-color-overlay: #ffffff;
  --msh-text-color-primary: #303133;
  --msh-text-color-regular: #606266;
  --msh-text-color-secondary: #909399;
  --msh-text-color-placeholder: #a8abb2;
  --msh-text-color-disabled: #c0c4cc;
  --msh-border-color: #dcdfe6;
  --msh-border-color-light: #e4e7ed;
  --msh-border-color-lighter: #ebeef5;
  --msh-border-color-extra-light: #f2f6fc;
  --msh-border-color-dark: #d4d7de;
  --msh-border-color-darker: #cdd0d6;
  --msh-fill-color: #f0f2f5;
  --msh-fill-color-light: #f5f7fa;
  --msh-fill-color-lighter: #fafafa;
  --msh-fill-color-extra-light: #fafcff;
  --msh-fill-color-dark: #ebedf0;
  --msh-fill-color-darker: #e6e8eb;
  --msh-fill-color-blank: #ffffff;

  // 和 border 相关的变量
  --msh-border-width: 1px;
  --msh-border-style: solid;
  --msh-border-color-hover: var(--msh-text-color-disabled);
  --msh-border: var(--msh-border-width) var(--msh-border-style) var(--msh-border-color);
  --msh-border-radius-base: 4px;
  --msh-border-radius-small: 2px;
  --msh-border-radius-round: 20px;
  --msh-border-radius-circle: 100%;

  // 和 font 相关的变量
  --msh-font-size-extra-large: 20px;
  --msh-font-size-large: 18px;
  --msh-font-size-medium: 16px;
  --msh-font-size-base: 14px;
  --msh-font-size-small: 13px;
  --msh-font-size-extra-small: 12px;
  --msh-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
  --msh-font-weight-primary: 500;

  // 和 disabled 相关的变量
  --msh-disabled-bg-color: var(--msh-fill-color-light);
  --msh-disabled-text-color: var(--msh-text-color-placeholder);
  --msh-disabled-border-color: var(--msh-border-color-light);

  // 和 transition 过渡相关的变量
  --msh-transition-duration: 0.3s;
  --msh-transition-duration-fast: 0.2s;
}
